/* General styles */

:root {
    --white: #FFF;
    --pink-border: #FF8AB3;
    --gray-bd: #262626;
    --gray-bg: rgba(0, 0, 0, 0.20);
    --gray-bg-30: rgba(0, 0, 0, 0.30);
    --title-content-size: 24px;
    --title-content-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #131313;
    font-family: 'Amiko', sans-serif;
    overflow-x: hidden;
}

.content {
    width: 100vw;
    height: auto;
    background-size: 100% 3360px;
    background-repeat: repeat-y;
    background: linear-gradient(180deg, #191919 10%, #27161C 25%, #191919 50%, #191919 80%, #27161C 95%);
}

.nav {
    display: flex;
    border-radius: 0 0 1rem 1rem;
    background-color: #111;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;

    .links {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        padding: 1rem;
    }

    a {
        color: #fff;
        border: 1px solid #393939;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
    }

    .icon {
        object-fit: contain;
        padding: 1rem;
    }
}

.language-selector {
    position: fixed;
    z-index: 10;
    top: 0.8rem;
    right: 3rem;

    .pt {
        background: url(./assets/pt.png);
    }

    .en {
        background: url(./assets/en.png);
        margin-left: 4px;
    }

    .pt,
    .en {
        width: 50px;
        height: 50px;
        background-size: contain;
        border-radius: 100%;
        border: 2px solid #000;
        outline: none;
        opacity: 1;
    }
    
    .selected{
        border: 2px solid var(--pink-border);
    }
    .not-selected{
        opacity: 0.8;
    }

    .pt:hover,
    .en:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
}

/* Simple reusable classes */

.reverse {
    transform: rotate(180deg);
}

.big {
    font-size: 48px;
    font-weight: 500;
}

.medium {
    font-size: 36px;
}

.pink {
    color: var(--pink-border);
}

/* Sections */

.hero {
    width: 99vw;
    width: calc(100vw - 221px);
    position: relative;
    padding: 0 60px;
    padding-top: 8rem;

    .text-img-wrapper {
        position: absolute;
        display: grid;
        grid-template-columns: 7fr 3fr;
        background-color: var(--gray-bg);
        border: 1px solid var(--pink-border);
        padding: 10px 50px;
        border-radius: 10px;
        width: 100%;
        width: calc(100vw - 221px);
        justify-content: space-between;
        line-height: 1rem;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            font-size: 32px;
            gap: 1rem;

            p {
                padding: 0;
                margin: 0;
                line-height: 36px;
            }
        }

        .img {
            padding-left: 10%;
            display: flex;
            gap: 20%;
            align-items: center;

            img {
                height: fit-content;

            }

            .photo {
                min-width: 100px;
                width: 100%;
                background-size: cover;
                aspect-ratio: 1 / 1;
            }
        }
    }
}

.sparkle-wrapper {
    .single_sparkle {
        width: 24px;
        height: 24px;
        position: relative;
    }

    .single_sparkle:nth-of-type(1) {
        top: -0.6rem;
        left: 2.5rem;
    }

    .single_sparkle:nth-of-type(2) {
        top: 6%;
        left: -3.5rem;
    }

    .single_sparkle:nth-of-type(3) {
        top: 93%;
        left: -3rem;
    }

    .single_sparkle:nth-of-type(4) {
        top: 100%;
        top: calc(100% - 0.8rem);
        left: 100%;
        left: calc(100% - 12rem);
    }

    .single_sparkle:nth-of-type(5) {
        top: 100%;
        top: calc(100% - 2.5rem);
        left: 100%;
        left: calc(100% - 9rem);
    }

    .single_sparkle:nth-of-type(6) {
        top: 100%;
        top: calc(100% - 4rem);
        left: 100%;
        left: calc(100% - 8.5rem);
    }
}

.info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 120px 0;
    position: relative;

    img {
        width: 300px;
        background-size: cover;
    }

    .text {
        background-color: var(--gray-bg-30);
        border-radius: 60px 0 0 60px;
        padding: 20px 40px;
        color: var(--white);
        font-size: 20px;
        line-height: 100%;

        .pink {
            font-size: var(--title-content-size);
            font-weight: var(--title-content-weight);
            line-height: 150%;
            padding: 0;
        }

    }

    .dark-border {
        background-color: var(--gray-bg-30);
        width: 20px;
        height: calc(100% - 240px);
        position: absolute;
        transform: translateY(120px);
        top: 0;
        right: 0;
    }
}

.skills {
    background-color: var(--gray-bg-30);
    color: var(--white);
    text-align: center;
    margin: 0 3rem;
    border-radius: 10px;
    padding: 50px;

    .title {
        font-size: var(--title-content-size);
        font-weight: var(--title-content-weight);
        margin-bottom: 30px;
    }

    .skills-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        justify-content: space-evenly;

        .skill {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: var(--gray-bg-30);
            width: 200px;
            border-radius: 10px;
            padding: 2rem 1rem;

            p {
                font-size: 20px;
                margin: 0;
            }

            .imgs {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

            }

            .html {
                img:nth-of-type(1) {
                    position: absolute;
                    transform: translate(-50%, 4px);
                    z-index: 1;
                }

                img:nth-of-type(2) {
                    position: relative;
                    z-index: 2;
                }

                img:nth-of-type(3) {
                    position: absolute;
                    transform: translate(70%, 4px);
                    z-index: 1;
                }
            }

            .angular {
                img:nth-of-type(1) {
                    position: relative;
                    transform: translateX(-30%);
                    z-index: 2;
                }

                img:nth-of-type(2) {
                    position: absolute;
                    transform: translateX(30%);
                    z-index: 1;
                }
            }
        }
    }
}

.bg_lines {
    position: absolute;
    transform: translateY(-50%);
    mix-blend-mode: color-dodge;
    overflow: hidden;
    width: 100%;
    object-fit: fill;
}

.academic {
    border: 1px solid var(--pink-border);
    background-color: var(--gray-bg-30);
    margin: 100px 3rem;
    padding: 2rem;
    color: var(--white);
    border-radius: 10px;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: var(--title-content-size);
        font-weight: var(--title-content-weight);
        padding: 1rem;
    }

    .details-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 1rem;

        .detail {
            background-color: var(--gray-bg);
            border: 1px solid var(--gray-bd);
            font-size: 18px;
            padding: 2rem;
            padding-right: 4rem;
            position: relative;
            border-radius: 10px;

            .label {
                font-size: 20px;
            }

            p {
                z-index: 2;
            }

            img {
                position: absolute;
                right: 2rem;
                bottom: 2rem;
                z-index: 1;
            }
        }
    }
}

.bg_stars {
    position: absolute;
    z-index: 1;
    width: 100%;
    transform: translateY(-6rem);
    height: fit-content;
    mix-blend-mode: exclusion;
    opacity: 0.2;
}

.experience {
    margin: 100px 3rem;
    border: 1px solid var(--pink-border);
    border-radius: 10px;
    overflow: hidden;
    color: var(--white);
    position: relative;
    z-index: 2;

    .title {
        width: 100%;
        padding: 1.5rem;
        background: linear-gradient(90deg, #141414 30%, transparent 60%);
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: var(--title-content-size);
        font-weight: var(--title-content-weight);
    }

    .jobs-wrapper {

        li {
            color: var(--pink-border);
        }

        .job {
            padding: 2rem;
            padding-left: 0;

            .label {
                color: var(--white);
            }

            .desc {
                color: var(--white);
                padding: 1rem;
                font-weight: 400;
                line-height: 1.5;
            }
        }

        .img-wrapper {
            width: 100%;
            text-align: center;

            img {
                width: fit-content;
            }
        }
    }
}

.more-info {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 2rem;
    z-index: 2;

    .left-side {
        background-color: var(--gray-bg-30);
        border-radius: 0 30px 30px 0;
        padding: 2rem;
        padding-left: 1rem;
        box-shadow: inset 0 -10px 0 var(--gray-bg-30);
        z-index: 3;

        .title {
            color: var(--pink-border);
            text-align: center;
            font-size: var(--title-content-size);
            font-weight: var(--title-content-weight);
        }

        .info-wrapper {
            color: var(--white);
            text-align: center;
            list-style-image: url(./assets/li_icon.svg);

            .divisor {
                width: 30%;
                border-color: rgba(255, 255, 255, 0.03);
            }

            li {
                text-align: left;
                padding: 1rem;
                padding-right: 2rem;
                line-height: 1.5;

                span {
                    position: relative;
                    left: 1rem;
                }

            }

        }
    }

    .right-side {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        opacity: 0.7;

        img {
            width: 100%;
            height: fit-content;
            overflow: visible;
        }
    }
}

.bg_grid {
    position: absolute;
    z-index: 1;
    width: 100%;
    transform: translateY(-100%);
    height: fit-content;
    mix-blend-mode: exclusion;
}

/* Responsive media queries */

@media (max-width: 1024px) {
    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;

        .skills-wrapper {
            grid-template-columns: 1fr 1fr !important;
            gap: 2rem;
            width: fit-content;
            justify-items: center;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }

    .bg_lines {
        transform: translateY(-30%);
    }
}

@media (max-width: 768px) {

    .nav {
        gap: 0.5rem;

        .links {
            display: flex;
            gap: 0.5rem;
            width: 100%;
            justify-content: center;
            padding: 1rem 0.5rem;
        }

        .icon {
            object-fit: contain;
            padding: 0.5rem;
        }
    }

    .big {
        font-size: 40px;
        font-weight: 500;
    }

    .medium {
        font-size: 30px;
    }

    .hero {
        width: calc(100vw - 100px);
        padding: 0 50px;
        padding-top: 8rem;

        .text-img-wrapper {
            padding: 50px;
            width: calc(100vw - 200px);

            .text {
                font-size: 30px;
            }

            .img {
                gap: 4px;
                padding-left: 4px;

                .photo {
                    min-width: 150px;
                }
            }
        }
    }

    .info {
        padding: 80px 0;

        .text {
            font-size: 16px;
        }

        img {
            width: 200px;
        }
    }

    .skills {

        .skills-wrapper {

            .skill {

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .bg_lines {
        transform: translateY(-50%);
    }

    .academic {
        padding: 1rem;
        margin: 80px 3rem;

        .details-wrapper {
            grid-template-columns: 1fr;

            .detail {
                font-size: 16px;
            }
        }
    }

    .bg_stars {
        height: 800px;
        object-fit: cover;
    }

    .experience {
        margin: 80px 3rem;
    }

    .more-info {
        .right-side img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    .bg_grid {
        height: 700px;
        object-fit: cover;
        object-position: right;
    }
}

@media (max-width: 425px) {

    .big {
        font-size: 30px;
    }

    .medium {
        font-size: 20px;
    }

    .open {
        align-items: flex-start;
        width: 100vw;
        border-bottom: 3px solid var(--gray-bg);
        flex-direction: row-reverse;


        .icon:first-of-type {
            height: 20px;
            width: 29px;
            padding: 8px;
            box-shadow: 0 0 2px 1px rgb(255 255 255 / 12%);
            border-radius: 10px;
            margin: 1rem;
        }

        .icon:last-of-type {
            display: none;
        }

        .links {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            padding-top: 4rem;
        }
    }

    .close {
        height: 50px;
        width: 100vw;
        justify-content: flex-end;
        padding: 1rem 0;
        height: fit-content;

        .links {
            display: none;
        }

        .icon:first-of-type {
            height: 20px;
            width: 29px;
            padding: 8px;
            box-shadow: 0 0 2px 1px rgb(255 255 255 / 12%);
            border-radius: 10px;
            margin-right: 1rem;
        }

        .icon:last-of-type {
            display: none;
        }
    }

    .language-selector{
        top: 0.5rem;
        left: 1rem;
    }
    
    .hero {
        width: calc(100vw - 4rem);
        /* width: 100%; */
        padding: 5rem 2rem 0 2rem;

        .text-img-wrapper {
            display: flex;
            flex-direction: column;
            width: calc(100vw - 170px);

            .img {
                display: flex;
                flex-direction: column;
                height: fit-content;
                padding: 0;
                padding-top: 24px;

                .divider {
                    height: 30px;
                    width: 30px;
                    transform: rotate(90deg);
                    object-fit: cover;
                    overflow: visible;
                }

                .photo {
                    min-width: 50px;
                    max-width: 180px;
                }
            }
        }
    }

    .skills {
        width: calc(100vw - 2rem);
        padding: 50px 0;
        margin: 0 1rem;

        .skills-wrapper {
            grid-template-columns: 1fr !important;

        }

        .title {
            font-size: 20px;
        }
    }

    .info {
        grid-template-columns: 150px 1fr;

        img {
            transform: rotate(90deg);
        }

        .text {
            line-break: anywhere;

            .pink {
                font-size: 20px;
            }
        }

        .dark-border {
            height: calc(100% - 160px);
            transform: translateY(79px);
        }


    }

    .bg_lines {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .academic {
        margin: 60px 2rem;

        .title {
            gap: 1rem;
            font-size: 20px;
        }

        .details-wrapper {
            .detail {
                padding-bottom: 6rem;
            }
        }
    }

    .experience {
        margin: 60px 2rem;

        .title {
            font-size: 20px;
        }

        .jobs-wrapper {
            .img-wrapper {
                text-align: left;

                img {
                    width: 80%;
                    object-fit: contain;
                }

            }
        }
    }

    .more-info {
        .left-side {

            padding: 1.5rem;
            padding-left: 1rem;

            .title {
                font-size: 20px;
            }

            .info-wrapper {

                .li-info {
                    padding: 0.5rem;
                    padding-right: 1rem;
                }

                .divisor {
                    width: 50%;
                }
            }
        }
    }

    .bg_grid {
        opacity: 0.6;
    }
}

@media (max-width: 375px) {

    .info {
        grid-template-columns: 100px 1fr;

        img {
            width: 170px;
        }
    }

    .academic {
        padding: 0;

        .title {
            padding-bottom: 0;
        }

        .details-wrapper {
            .detail {
                padding: 1rem 3rem 5rem 1rem;
            }
        }
    }

    .experience {
        .title {
            padding: 1rem;
            width: fit-content;
        }

        .jobs-wrapper {
            padding-left: 2rem;

            .job {
                padding: 1rem;
                padding-left: 0;
            }

            .img-wrapper {
                padding-bottom: 1rem;
            }
        }
    }

    .more-info {
        grid-template-columns: 4fr 1fr;

        .left-side {
            padding: 1rem;

            .info-wrapper {
                .li-info {
                    padding: 0;
                    padding-right: 1rem;

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}